<nav class="nav">
    <ul class="nav__menu">
        <li class="nav__menu-item"><a>mentors</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="/mentor/create">create</a></li>
                <li class="nav__submenu-item"> <a href="/mentor/edit">edit</a></li>
                <li class="nav__submenu-item"> <a href="/mentor/display">display</a></li>
                <li class="nav__submenu-item"> <a href="/mentor/delete">delete</a></li>
            </ul>
        </li>
        <li class="nav__menu-item"><a>groups</a>

            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="/group/create">create</a></li>
                <li class="nav__submenu-item"> <a href="/group/edit">edit</a></li>
                <li class="nav__submenu-item"> <a href="/group/display">display</a></li>
                <li class="nav__submenu-item"> <a href="/group/delete">delete</a></li>
            </ul>

        </li>
        <li class="nav__menu-item"><a>levels</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="/level/create">create</a></li>
                <li class="nav__submenu-item"> <a href="/level/edit">edit</a></li>
                <li class="nav__submenu-item"> <a href="/level/display">display</a></li>
                <li class="nav__submenu-item"> <a href="/level/delete">delete</a></li>
            </ul>
        </li>
    </ul>
</nav>