<nav class="nav">
    <ul class="nav__menu">
        <li class="nav__menu-item"><a>mentors</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="/create-mentor">create</a></li>
                <li class="nav__submenu-item"> <a href="/edit-mentor">edit</a></li>
                <li class="nav__submenu-item"> <a href="/display-mentors">display</a></li>
                <li class="nav__submenu-item"> <a href="/delete-mentors">delete</a></li>
            </ul>
        </li>
        <li class="nav__menu-item"><a>groups</a>

            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="/create-group">create</a></li>
                <li class="nav__submenu-item"> <a href="/edit-group">edit</a></li>
                <li class="nav__submenu-item"> <a href="/display-groups">display</a></li>
                <li class="nav__submenu-item"> <a href="/delete-group">delete</a></li>
            </ul>

        </li>
        <li class="nav__menu-item"><a>levels</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="/create-level">create</a></li>
                <li class="nav__submenu-item"> <a href="/edit-level">edit</a></li>
                <li class="nav__submenu-item"> <a href="/display-levels">display</a></li>
                <li class="nav__submenu-item"> <a href="/delete-level">delete</a></li>
            </ul>
        </li>
    </ul>
</nav>