<body>
<div id="main-container">
    <div id="user-form-container">
        <form method="POST">
            <div class="user-form">
                <input type="text" name="group-name" id="group-name" placeholder="group name">
            </div>

            <div id="user-form-button">
                <input type="submit" value="CREATE GROUP">
            </div>
        </form>
    </div>
</div>
</body>