<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create level</title>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link rel="stylesheet" href="static/css/styleEditMentor.css">
    <link rel="stylesheet" href="static/css/menu.css">
    <link rel="stylesheet" href="static/css/style.css">

</head>

<body>

<div id="header-container" w3-include-html="../template/header.html"></div>

<div w3-include-html="../template/adminMenu.html"></div>

<div id="main-container">
    <div id="user-form-container">
        <form method="POST">
            <div class="user-form">
                <input type="text" name="rank" id="rank" placeholder="rank" required>
            </div>

            <div class="user-form">
                <input type="text" name="required-experience" id="required-experience" placeholder="required experience" required>
            </div>

            <div class="user-form">
                <input type="text" name="description" id="description" placeholder="description" required>
            </div>

            <div id="user-form-button">
                <input type="submit" value="CREATE LEVEL">
            </div>
        </form>
    </div>
</div>
</body>