<div id="main-container">
    <div id="user-form-container">
        <form method="POST">
            <div class="user-form">
                <input type="text" name="rank" id="rank" placeholder="rank" required
                       pattern="^[0-9]+$" title="It's not a digit" maxlength="20">
            </div>

            <div class="user-form">
                <input type="text" name="required-experience" id="required-experience" placeholder="required experience" required
                       pattern="^[0-9]+$" title="It's not a digit" maxlength="20">
            </div>

            <div class="user-form">
                <textarea rows="4" name="description" id="description" placeholder="description" maxlength="100"
                          pattern="^[a-zA-Z]*$" title="Should contains only letters" required></textarea>
            </div>

            <div id="user-form-button">
                <input type="submit" value="CREATE LEVEL">
            </div>
        </form>
    </div>
</div>
