<div id="main-container">
    <div id="user-form-container">
        <form method="POST">
            <div class="user-form">
                <input type="text" name="first-name" id="first-name" placeholder="first name" required>
            </div>

            <div class="user-form">
                <input type="text" name="last-name" id="last-name" placeholder="last name" required>
            </div>
            
            <div class="user-form">
                <input type="text" name="date-of-birth" id="date-of-birth" placeholder="date of birth" required
                       title="MM-DD-YYYY" onfocus="(this.type='date')" onblur="(this.type='text')">
            </div>

            <div class="user-form">
                <input type="text" name="email" id="email" placeholder="email" required
                       pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$">
            </div>

            <div class="user-form">
                <input type="password" name="password" id="password" placeholder="password" required
                       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                       title="Password must contain: UpperCase, LowerCase, Number/SpecialChar and min 8 Chars">
            </div>

            <div class="dropdown">
                <select name="group" id=group">
                    <option value="" disabled selected>group</option>
                    {% for group in allGroups %}
                        <option value="{{ group.name }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="user-form-button">
                <input type="submit" value="CREATE MENTOR">
            </div>
        </form>
    </div>
</div>