<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create group</title>
    <link rel="stylesheet" href="static/css/styleEditMentor.css">
    <link rel="stylesheet" href="static/css/menu.css">
    <link rel="stylesheet" href="static/css/style.css">

</head>

<body>

<div id="main-container">
    <div id="user-form-container">
        <form method="POST">
            <div class="user-form">
                <input type="text" name="group-name" id="group-name" placeholder="group name">
            </div>

            <div id="user-form-button">
                <input type="submit" value="CREATE GROUP">
            </div>
        </form>
    </div>
</div>
</body>