<div id="main-container">
    <div id="vertical_menu">
        <div id="vertical-radio-list">
            <form>
                <div id="radio-form">
                    {%  for mentor in allMentors %}
                        <button name="mentor-id" value="{{ mentor.ID }}">{{ mentor.firstName }} {{ mentor.lastName }}</button>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

    <div id="sub-container-form">
        <div id="delete-question">
            <h2>Are you sure you want to delete this mentor?</h2>
            <div id="attributes">
                <form method="POST">
                    <ul class="attribute_list">
                        <li>
                            <div class="submit">
                                <button name="confirmation" value="yes">Yes</button>
                                {#<input type="submit" class="attribute_submit" id="yes" value="Yes"/>#}
                            </div>
                        </li>
                        <li>
                            <div class="submit">
                                <button name="confirmation" value="no">No</button>
                                {#<input type="submit" class="attribute_submit" id="no" value="No"/>#}
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>