<div id="main-container-delete">
    <div id="vertical_menu">
        <div id="vertical-radio-list">
            <form>
                <div id="radio-form">
                    {%  for mentor in allMentors %}
                        <a href="/mentor/delete?mentor-id={{ mentor.ID }}">
                            <button name="mentor-id" value="{{ mentor.ID }}">{{ mentor.firstName }} {{ mentor.lastName }}</button>
                        </a>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

    <div id="sub-container-form">
        <div id="delete-question">
            <h2 id="choose-mentor-to-delete">Please choose mentor to delete</h2>
        </div>
    </div>
</div>