{#TODO: "twig" table#}

<table class="table">
    <thead>
    <tr>
        <th>name</th>
        <th>type</th>
        <th>value</th>
        <th>spent</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Circle of Sorcery</td>
        <td>group</td>
        <td>6000</td>
        <td><input type="checkbox" disabled></td>
    </tr>
    <tr>
        <td>Combat training</td>
        <td>single</td>
        <td>50</td>
        <td><input type="checkbox" disabled></td>
    </tr>
    <tr>
        <td>Sanctuary</td>
        <td>single</td>
        <td>1000</td>
        <td><input type="checkbox" checked disabled></td>
    </tr>
    <tr>
        <td>Combat training</td>
        <td>single</td>
        <td>50</td>
        <td><input type="checkbox" checked disabled></td>
    </tr>
    </tbody>
</table>