<nav class="nav">
    <ul class="nav__menu">
        <li class="nav__menu-item"><a href="display-wallet">my wallet</a>
        </li>
        <li class="nav__menu-item"><a>buy artifact</a>

            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="buy-single-artifact">single</a></li>
                <li class="nav__submenu-item"> <a href="buy-group-artifact">group</a></li>
            </ul>

        </li>
        <li class="nav__menu-item"><a href="level-info">level info</a>
        </li>
    </ul>
</nav>