<nav class="nav">
    <ul class="nav__menu">

        <li class="nav__menu-item"><a href="/display-wallet">my wallet</a>
        </li>

        <li class="nav__menu-item"><a href="/buy-artifact">buy artifact</a>
        </li>

        <li class="nav__menu-item"><a>fundraisings</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="/display-fundraisings">display list</a></li>
                <li class="nav__submenu-item"> <a href="/create-fundraisings">create</a></li>
            </ul>
        </li>

        <li class="nav__menu-item"><a href="/level-info">level info</a>
        </li>

    </ul>
</nav>