<div id="main-container">
    <div id="level-table">
        <table class="table">
            <tbody>
            <tr>
                <td>Level rank</td>
                <td>{{ userLevel.rank }}</td>
            </tr>
            <tr>
                <td>Required experience</td>
                <td>{{ userLevel.requiredExperience }}</td>
            </tr>
            <tr>
                <td>Lifetime experience</td>
                <td>{{ wallet.earnedCoins }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ userLevel.description }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>