<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Group shopping</title>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link rel="stylesheet" href="../../css/myWallet.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/menu.css">
    <link rel="stylesheet" href="../../css/tableStyle.css">
</head>

<body>

<div w3-include-html="../template/codecoolerHeader.html"></div>

<div w3-include-html="../template/myWalletMenu.html"></div>
<br>
<div id="group-artifact-table-container">
    <div w3-include-html="groupArtifactTable.html"></div>
</div>

<div id="startFunraisingsButton">
    <input type="submit" value="START FUNDRAISINGS">
</div>

<div id="footer-container">
    <footer>
        <p>
            Designed and created by <strong><a href="https://github.com/CodecoolKRK20171/queststore-system-code-rampart">
                    CodeRampart</a></strong> for <strong><a href="http://www.codecool.pl">Codecool</a></strong>.
        </p>
    </footer>
</div>
<script>w3.includeHTML();</script>
</body>
</html>