<nav class="nav">
    <ul class="nav__menu">
        <li class="nav__menu-item"><a>mentors</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="createMentor.html">create</a></li>
                <li class="nav__submenu-item"> <a href="editMentor.html">edit</a></li>
                <li class="nav__submenu-item"> <a href="displayMentors.html">display</a></li>
                <li class="nav__submenu-item"> <a href="deleteMentor.html">delete</a></li>
            </ul>
        </li>
        <li class="nav__menu-item"><a>groups</a>

            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="createGroup.html">create</a></li>
                <li class="nav__submenu-item"> <a href="editGroup.html">edit</a></li>
                <li class="nav__submenu-item"> <a href="displayGroups.html">display</a></li>
                <li class="nav__submenu-item"> <a href="deleteGroup.html">delete</a></li>
            </ul>

        </li>
        <li class="nav__menu-item"><a>levels</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="createLevel.html">create</a></li>
                <li class="nav__submenu-item"> <a href="editLevel.html">edit</a></li>
                <li class="nav__submenu-item"> <a href="displayLevels.html">display</a></li>
                <li class="nav__submenu-item"> <a href="deleteLevel.html">delete</a></li>
            </ul>
        </li>
    </ul>
</nav>