<nav class="nav">
    <ul class="nav__menu">

        <li class="nav__menu-item"><a>codecoolers</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="createCodecooler.html">create</a></li>
                <li class="nav__submenu-item"> <a href="editCodecooler.html">edit</a></li>
                <li class="nav__submenu-item"> <a href="displayCodecoolers.html">display</a></li>
                <li class="nav__submenu-item"> <a href="rewardAchievement.html">reward achievement</a></li>
                <li class="nav__submenu-item"> <a href="markItem.html">mark item</a></li>
                <li class="nav__submenu-item"> <a href="displayWallet.html">display wallet</a></li>
            </ul>
        </li>

        <li class="nav__menu-item"><a>quests</a>

            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="createQuest.html">create</a></li>
                <li class="nav__submenu-item"> <a href="editQuest.html">edit</a></li>
                <li class="nav__submenu-item"> <a href="displayQuests.html">display</a></li>
                <li class="nav__submenu-item"> <a href="deleteQuest.html">delete</a></li>
            </ul>
        </li>

        <li class="nav__menu-item"><a>artifacts</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="createArtifact.html">create</a></li>
                <li class="nav__submenu-item"> <a href="editArtifact.html">edit</a></li>
                <li class="nav__submenu-item"> <a href="displayArtifacts.html">display</a></li>
                <li class="nav__submenu-item"> <a href="deleteArtifact.html">delete</a></li>
            </ul>
        </li>

        <li class="nav__menu-item"><a>teams</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="createTeam.html">create</a></li>
                <li class="nav__submenu-item"> <a href="editTeam.html">edit</a></li>
                <li class="nav__submenu-item"> <a href="displayTeams.html">display</a></li>
                <li class="nav__submenu-item"> <a href="deleteLevel.html">delete</a></li>
            </ul>
        </li>
    </ul>
</nav>