<nav class="nav">
    <ul class="nav__menu">
        <li class="nav__menu-item"><a href="displayWallet.html">my wallet</a>
        </li>
        <li class="nav__menu-item"><a>buy artifact</a>

            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="buySingleArtifact.html">single</a></li>
                <li class="nav__submenu-item"> <a href="buyGroupArtifact.html">group</a></li>
            </ul>

        </li>
        <li class="nav__menu-item"><a href="levelInfo.html">level info</a>
        </li>
    </ul>
</nav>