<div id="vertical-radio-list">
    <form>
        <div id="radio-form">
            <input type="radio" id="combat-training" name="artifact-name">
                <label for="combat-training">Combat training</label>
            <input type="radio" id="sanctuary" name="artifact-name">
                <label for="sanctuary">Sanctuary</label>
            <input type="radio" id="time-travel" name="artifact-name">
                <label for="time-travel">Time travel</label>
        </div>
    </form>
</div>