<div id="vertical-radio-list">
    <form>
        <div id="radio-form">
            <input type="radio" id="exploring-dungeon" name="quest-name">
                <label for="exploring-dungeon">Exploring a dungeon</label>
            <input type="radio" id="slaying-dragon" name="quest-name">
                <label for="slaying-dragon">Slaying a dragon</label>
            <input type="radio" id="spot-trap" name="quest-name">
                <label for="spot-trap">Spot a trap</label>
            <input type="radio" id="tame-pet" name="quest-name">
                <label for="tame-pet">Tame a pet</label>
            <input type="radio" id="forge-weapon" name="quest-name">
                <label for="forge-weapon">Forge a weapon</label>
        </div>
    </form>
</div>