<div id="vertical-radio-list">
    <form>
        <div id="radio-form">
            <input type="radio" id="exploringADungeon" name="quest-name">
                <label for="exploringADungeon">Exploring a dungeon</label>
            <input type="radio" id="solvingTheMagicPuzzle" name="quest-name">
                <label for="solvingTheMagicPuzzle">Solving the magic puzzle</label>
            <input type="radio" id="slayingADragon" name="quest-name">
                <label for="slayingADragon">Slaying a dragon</label>
            <input type="radio" id="spotTrap" name="quest-name">
                <label for="spotTrap">Spot trap</label>
            <input type="radio" id="tamingAPet" name="quest-name">
                <label for="tamingAPet">Taming a pet</label>
            <input type="radio" id="recruitSomeNoobs" name="quest-name">
                <label for="recruitSomeNoobs">Recruiting some n00bs</label>
            <input type="radio" id="masterOfTheMornings" name="quest-name">
                <label for="masterOfTheMornings">Master the mornings</label>
            <input type="radio" id="fastAsAnUnicorn" name="quest-name">
                <label for="fastAsAnUnicorn">Fast as an unicorn</label>
            <input type="radio" id="achiever" name="quest-name">
                <label for="achiever">Achiever</label>
            <input type="radio" id="fortune" name="quest-name">
                <label for="fortune">Fortune</label>
            <input type="radio" id="creatingAnEnchantedScroll" name="quest-name">
                <label for="creatingAnEnchantedScroll">Creating an enchanted scroll</label>
            <input type="radio" id="enterTheArena" name="quest-name">
                <label for="enterTheArena">Enter the arena</label>
        </div>
    </form>
</div>