<div id="vertical-radio-list">
    <form>
        <div id="radio-form">
            <input type="radio" id="circleOfSorcery" name="artifact-name">
                <label for="circleOfSorcery">Circle of Sorcery</label>
            <input type="radio" id="combatTraining" name="artifact-name">
                <label for="combatTraining">Combat training</label>
            <input type="radio" id="sanctuary" name="artifact-name">
                <label for="sanctuary">Sanctuary</label>
            <input type="radio" id="summonCodeElemental" name="artifact-name">
                <label for="summonCodeElemental">Summon Code Elemental</label>
            <input type="radio" id="teleport" name="artifact-name">
                <label for="teleport">Teleport</label>
            <input type="radio" id="timeTravel" name="artifact-name">
                <label for="timeTravel">Time Travel</label>
            <input type="radio" id="tomeOfKnowleadge" name="artifact-name">
                <label for="tomeOfKnowleadge">Tome of knowledge</label>
            <input type="radio" id="transformMentors" name="artifact-name">
                <label for="transformMentors">Transform mentors</label>
        </div>
    </form>
</div>