<body>
<div id="main-container">
    <div id="user-form-container">
        <form method="POST">
            <div class="user-form">
                <input type="text" name="name" id="name" placeholder="name">
            </div>

            <div class="user-form">
                <input type="text" name="description" id="description" placeholder="description">
            </div>

            <div class="user-form">
                <input type="text" name="value" id="value" placeholder="value">
            </div>

            <div id="radio-form">
                <input type="radio" id="single" name="type"><label for="single">single</label>
                <input type="radio" id="group" name="type"><label for="group">group</label>
            </div>
            <br>
            <div id="user-form-button">
                <input type="submit" value="CREATE ARTIFACT">
            </div>
        </form>
    </div>
</div>
</body>