<body>
<div id="main-container">
    <div id="user-form-container">
        <form method="POST">
            <div class="user-form">
                <input type="text" name="first-name" id="first-name" placeholder="first name">
            </div>

            <div class="user-form">
                <input type="text" name="last-name" id="last-name" placeholder="last name">
            </div>

            <div class="user-form">
                <input type="text" name="date-of-birth" id="date-of-birth" placeholder="date of birth">
            </div>

            <div class="user-form">
                <input type="text" name="email" id="email" placeholder="email">
            </div>

            <div class="user-form">
                <input type="password" name="password" id="password" placeholder="password">
            </div>

            <div class="dropdown">
                <input type="text" name="group" list="groups" placeholder="group name">
                <datalist id="groups">
                    {% for group in allGroups %}
                        <option value="{{ group.name }}"></option>
                    {% endfor %}
                </datalist>
            </div>

            <div class="dropdown">
                <input type="text" name="team" list="teams" placeholder="team (optional)">
                <datalist id="teams">
                    {% for team in allTeams %}
                        <option value="{{ team.name }}"></option>
                    {% endfor %}
                </datalist>
            </div>

            <div id="user-form-button">
                <input type="submit" value="CREATE CODECOOLER">
            </div>
        </form>
    </div>
</div>
</body>