<body>
<div id="main-container">
    <div id="user-form-container">
        <form method="POST">
            <div class="user-form">
                <input type="text" name="name" id="name" placeholder="name" required>
            </div>

            <div class="user-form">
                <input type="text" name="description" id="description" placeholder="description" required>
            </div>

            <div class="user-form">
                <input type="text" name="reward" id="reward" placeholder="reward" required
                       pattern="^[0-9]+$" title="It's not a digit">
            </div>

            <div id="user-form-button">
                <input type="submit" value="CREATE QUEST">
            </div>
        </form>
    </div>
</div>
</body>