<body>
<div id="main-container">
    <div id="user-form-container">
        <form method="POST">
            <div class="user-form">
                <input type="text" name="name" id="name" placeholder="name" required>
            </div>

            <div class="user-form">
                <textarea rows="4" name="description" id="description" placeholder="description" required></textarea>
            </div>

            <div class="user-form">
                <input type="text" name="value" id="value" placeholder="value" required
                       pattern="^[0-9]+$" title="It's not a digit">
            </div>

            <div id="radio-form">
                <input type="radio" id="single" name="type" value="single" checked><label for="single">single</label>
                <input type="radio" id="group" name="type" value="group"><label for="group">group</label>
            </div>

            <br>
            <div id="user-form-button">
                <input type="submit" value="CREATE ARTIFACT">
            </div>
        </form>
    </div>
</div>
</body>