<body>

<div id="main-container">
    <div id="user-form-container">
        <form method="POST">
            <div class="user-form">
                <input type="text" name="team-name" id="team-name" placeholder="team name" maxlength="23" required>
            </div>

            <div class="user-form">
                <input type="text" name="group-name" id="group-name" placeholder="group name" required>
            </div>

            <div id="user-form-button">
                <input type="submit" value="CREATE TEAM">
            </div>
        </form>
    </div>
</div>
</body>