<div id="main-container-delete">
    <div id="vertical_menu">
        <div id="vertical-radio-list">
            <script src="../../static/js/filteringScript.js"></script>
            <input type="text" id="searching" onkeyup="filterList()" placeholder="Search">
            <form>
                <div id="radio-form">
                    <ul id="radio-form-ul">
                    {%  for artifact in allArtifacts %}
                        <li>
                        <a href="/artifact/delete?artifact-id={{ artifact.ID }}">
                            <button name="artifact-id" value="{{ artifact.ID }}">
                                {{ artifact.name }}
                            </button>
                        </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </form>
        </div>
    </div>

    <div id="sub-container-form">
        <div id="delete-question">
            <h2>Please choose artifact to delete</h2>
        </div>
    </div>
</div>