<div id="main-container-delete">
    <div id="vertical_menu">
        <div id="vertical-radio-list">
            <form>
                <div id="radio-form">
                    {%  for quest in allQuests %}
                        <button name="quest-id" value="{{ quest.ID }}">{{ quest.name }}</button>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

    <div id="sub-container-form">
        <div id="delete-question">
            <h2>Are you sure you want to delete <string>{{ name }}</string> quest?</h2>
            <div id="attributes">
                <form method="POST">
                    <ul class="attribute_list">
                        <li>
                            <div class="submit">
                                <button name="confirmation" value="yes">Yes</button>
                            </div>
                        </li>
                        <li>
                            <div class="submit">
                                <button name="confirmation" value="no">No</button>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>