<div id="main-container-edit">

    <div id="vertical_menu">
        <div id="vertical-radio-list">
            <script src="../../static/js/filteringScript.js"></script>
            <input type="text" id="searching" onkeyup="filterList()" placeholder="Search">
            <form>
                <div id="radio-form">
                    <ul id="radio-form-ul">
                    {%  for team in allTeams %}
                        <li>
                        <a href="/team/edit?team-id={{ team.ID }}">
                            <button name="team-id" value="{{ team.ID }}">{{ team.name }}</button>
                        </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </form>
        </div>
    </div>

    <div id="sub-container-form">
        <div id="user-form-container">
            <form method="POST">
                <div class="user-form">
                    <label for="team-name">team name</label>
                    <input type="text" name="team-name" id="team-name" value="{{ teamName }}" maxlength="23" required>
                </div>

                <div id="user-form-button">
                    <input type="submit" value="SAVE CHANGES">
                </div>
            </form>
        </div>
    </div>
</div>