<div id="sub-container-form">
    <div id="delete-question">
        <h2>Are you sure you want to finalize <strong>{{ name }}</strong> fundraising?</h2>
        <div id="attributes">
            <form method="POST">
                <ul class="attribute_list">
                    <li>
                        <div class="submit">
                            <button name="confirmation" value="yes">Yes</button>
                        </div>
                    </li>
                    <li>
                        <div class="submit">
                            <button name="confirmation" value="no">No</button>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>