<nav class="nav">
    <ul class="nav__menu">
        <li class="nav__menu-item"><a>codecoolers</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="/codecooler/create">create</a></li>
                <li class="nav__submenu-item"> <a href="/codecooler/edit">edit</a></li>
                <li class="nav__submenu-item"> <a href="/codecooler/display">display</a></li>
                <li class="nav__submenu-item"> <a href="/codecooler/delete">delete</a></li>
                <li class="nav__submenu-item"> <a href="/codecooler/reward-achievement">reward achievement</a></li>
                <li class="nav__submenu-item"> <a href="/codecooler/mark-item">mark item</a></li>
                <li class="nav__submenu-item"> <a href="/codecooler/display-wallet">display wallet</a></li>
            </ul>
        </li>
        <li class="nav__menu-item"><a>quests</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="/quest/create">create</a></li>
                <li class="nav__submenu-item"> <a href="/quest/edit">edit</a></li>
                <li class="nav__submenu-item"> <a href="/quest/display">display</a></li>
                <li class="nav__submenu-item"> <a href="/quest/delete">delete</a></li>
            </ul>
        </li>
        <li class="nav__menu-item"><a>artifacts</a>

            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="/group/create">create</a></li>
                <li class="nav__submenu-item"> <a href="/group/edit">edit</a></li>
                <li class="nav__submenu-item"> <a href="/group/display">display</a></li>
                <li class="nav__submenu-item"> <a href="/group/delete">delete</a></li>
            </ul>

        </li>
        <li class="nav__menu-item"><a>teams</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="/team/create">create</a></li>
                <li class="nav__submenu-item"> <a href="/team/edit">edit</a></li>
                <li class="nav__submenu-item"> <a href="/team/display">display</a></li>
                <li class="nav__submenu-item"> <a href="/team/delete">delete</a></li>
            </ul>
        </li>
    </ul>
</nav>