#main-container {
    display: flex;
    min-height: 27em;
    justify-content: center;
}

#single-artifact-container {
    display: flex;
    min-height: 3em;
    justify-content: center;
}

#group-artifact-table-container {
    display: flex;
    min-height: 19em;
    justify-content: center;
}

#display-wallet-container {
    display: flex;
    min-height: 19em;
    justify-content: center;
}

#level-info-container {
    display: flex;
    min-height: 25.5em;
    justify-content: center;
}

#coolcoinsBalance-container {
    display: flex;
    justify-content: center;
    padding: 2em;
}

#coolcoins-label {
    width: 12em;
    margin: 0 auto;
    background: white;
    border: solid 3px #675f6b;
    border-radius: 10px;
    color: #000000;
    font-weight: bold;
    justify-content: center;
    display: flex;
}

#coolcoins-label:hover {
    background-color: #7c7c7c;
}

#buyButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

#startFunraisingsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}