#main-container {
    display: flex;
    min-height: 27em;
    /*align-items: center;*/
    justify-content: center;
}

#coolcoinsBalance-container {
    display: flex;
    justify-content: center;
    padding: 2em;
}

#coolcoins-label {
    width: 12em;
    margin: 0 auto;
    background: white;
    border: solid 3px #675f6b;
    border-radius: 10px;
    color: #000000;
    font-weight: bold;
    justify-content: center;
    display: flex;
}

#coolcoins-label:hover {
    background-color: #7c7c7c;
}