body {
    font-family: Sawasdee, serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

#header-container {
    display: flex;
}

#footer-container {
    border: 2px solid #675f6b;
    border-radius: 5px;
}

footer {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 20px #675f6b;
}

header {
    display: flex;
}

#main-container {
    display: flex;
    min-height: 30em;
    align-items: center;
    justify-content: center;
}

#user-form-container {
    display: flex;
    min-height: 10em;
    justify-content: right;
    align-items: center;
    flex-direction: column;
}

.user-form {
    justify-content: center;
    align-items: center;
    display: flex;
}

#radio-form {
    border: solid 3px #675f6b;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

/*BUTTONS TOO CHOSE MENTOR, ADMIN, CODECOOLER*/

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

label {
    color: #9a929e;
    display: inline-block;
    cursor: pointer;
    min-width: 6em;
    font-weight: bold;
    padding: 1em 2em;
    text-align: right;
}

/*INPUT FOR EMAIL AND PASSWORD*/

input[type=password], input[type=text] {
    width: 15em;
    background-color: #efefef;
    color: #666;
    border: 2px solid #675f6b;
    border-radius: 5px;
    font-family: Sawasdee, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

input[type=password]:focus, input[type=text]:focus {
    box-shadow: 0px 0px 3px 1px black;
}

/*LOG IN BUTTON*/

input[type=submit] {
    font-family: Sawasdee, serif;
    width: 15em;
    background-color: #675f6b;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 0.4em 0.2em;
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.1em;
    box-shadow: 6px 6px 30px black;
    outline: none;
}

input[type=submit]:hover {
    background-color: #7c7c7c;
}

#user-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
