.walletTable {
    width: 60%;
    table-layout: fixed;
    border-collapse: collapse;
}
.walletTable th {
    text-decoration: underline;
}
.walletTable th, .walletTable td {
    padding: 5px;
    text-align: left;
}
.walletTable td:nth-child(1), .walletTable th:nth-child(1) {
    min-width: 200px;
}
.walletTable td:nth-child(2), .walletTable th:nth-child(2) {
    min-width: 200px;
}
.walletTable td:nth-child(3), .walletTable th:nth-child(3) {
    width: 350px;
}
.walletTable td:nth-child(4), .walletTable th:nth-child(4) {
    width: 350px;
}
.walletTable thead {
    background-color: #333;
    color: #FDFDFD;
}
.walletTable thead tr {
    display: block;
    position: relative;
}
.walletTable tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 300px;
}
.walletTable tbody tr:nth-child(even) {
    background-color: #DDD;
}
