
#user-form-container {
    padding-top: 1.2em;
    display: flex;
    min-height: 10em;
    justify-content: right;
    align-items: center;
    flex-direction: column;
}

#user-account {
    display: flex;
    min-height: 10em;
    justify-content: right;
    align-items: center;
    flex-direction: column;
}

#user-form-container-edit .user-form .dropdown label {
    float: right;
    max-width: 4em;
}

.user-form {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 0.12em;
}

.dropdown {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 0.12em;
}

.user-form  label {
    color: #9a929e;
    display: inline-block;
    cursor: pointer;
    min-width: 6em;
    font-weight: bold;
    padding: 1em 2em;
    text-align: right;
}

.dropdown label {
    color: #9a929e;
    display: inline-block;
    cursor: pointer;
    min-width: 6em;
    font-weight: bold;
    padding: 1em 2em;
    text-align: right;
}

#user-form-button {
    float: right;
}

/*INPUTS*/

input[type=password], input[type=text], input[type=email], select, select > option {
    width: 15em;
    background-color: #efefef;
    color: #666;
    border: 2px solid #675f6b;
    border-radius: 5px;
    font-family: Sawasdee, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

input[type=password]:focus, input[type=text]:focus, input[type=email]:focus, input[type=date]:focus, select:focus, textarea:focus {
    box-shadow: 0px 0px 3px 1px black;
}

textarea {
    width: 15em;
    /*margin-top: 0.1em;*/
    background-color: #efefef;
    color: #666;
    border: 2px solid #675f6b;
    border-radius: 5px;
    font-family: Sawasdee, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    white-space: pre-line;
    resize: none;
}

#groups {
    width: 15em;
    background-color: #efefef;
    color: #666;
    border: 2px solid #675f6b;
    border-radius: 5px;
    font-family: Sawasdee, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

#searching {
    width: 12.3em;
    background-color: #efefef;
    color: #666;
    border: 2px solid #675f6b;
    border-radius: 5px;
    font-family: Sawasdee, serif;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    outline: none;
    margin-left: 1.6em;
    margin-bottom: -0.4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}