.walletTable {
    border: solid 3px #675f6b;
    border-radius: 10px;
}

.levelTable {
    border: solid 3px #675f6b;
    border-radius: 10px;
}

.singleArtifactTable {
    border: solid 3px #675f6b;
    border-radius: 10px;
}

.group-artifact-table {
    border: solid 3px #675f6b;
    border-radius: 10px;
}

td, th {
    text-align: left;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}