.table {
    border: solid 3px #675f6b;
    border-radius: 10px;
}

td, th {
    text-align: left;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#items-list, #level-table, #fundraisings-list, #fundraising-info {
    padding-top: 3em;
}

#fundraisings_table_insight:hover {
    cursor: pointer;
    background-color: #a296a6;
}