<div id="sub-container-form">
    <div id="user-form-container">

        <h2>Changing password: </h2>

        <form method="POST">
            <div class="user-form">
                <input type="text" name="current-password" id="current-password" placeholder="current password" required>
            </div>

            <div class="user-form">
                <input type="text" name="new-password" id="new-password" placeholder="new password" required
                       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                       title="Password must contain: UpperCase, LowerCase, Number/SpecialChar and min 8 Chars">
            </div>

            <div class="user-form">
                <input type="text" name="new-password-confirmation" id="new-password-confirmation"
                       placeholder="confirm new password" required
                       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                       title="Password must contain: UpperCase, LowerCase, Number/SpecialChar and min 8 Chars">
            </div>

            <div id="user-form-button">
                <input type="submit" value="CHANGE PASSWORD">
            </div>
        </form>
    </div>
</div>