<div id="footer-container">
    <footer>
        <p>
            Designed and created for <strong><a href="http://www.codecool.pl">Codecool</a></strong>.
        </p>
    </footer>
</div>

</body>
</html>