<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Queststore</title>
    <link rel="Shortcut icon" href="/static/img/logo.ico" />
    <link rel="stylesheet" href="/static/css/myWallet.css" />
    <link rel="stylesheet" href="/static/css/menu.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/walletTable.css" />
    <link rel="stylesheet" href="/static/css/styleEditMentor.css" />
    <link rel="stylesheet" href="/static/css/verticalMenuStyle.css" />
    <link rel="stylesheet" href="/static/css/flashNote.css" />
</head>
<body>

    {{ flashNote }}

<div id="header-container">

    <header>
        <div id="logo">
            <img src="/static/img/logo.png" alt="logo">
        </div>
        <div id="app-info">
            <h1 id="app-name">QuestStore</h1>
            <p>by CodeRampart</p>
        </div>
        <div id="logged-user">
            <h2 id="user-name"><a id="account" href="/account">{{ firstName }} {{ lastName }}</a></h2>
            <p id="logged-user-type">{{ userType }}</p>

            <a name="logout" href="/logout">LOGOUT</a>
            </p>
        </div>
    </header>
</div>
