<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Mentor</title>
    <link rel="stylesheet" href="static/css/myWallet.css">
    <link rel="stylesheet" href="static/css/menu.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/walletTable.css">
    <link rel="stylesheet" href="static/css/styleEditMentor.css">
    <link rel="stylesheet" href="static/css/verticalMenuStyle.css">
</head>
<body>

<div id="header-container">
    <header>
        <div id="logo">
            <img src="static/img/logo.png" alt="logo">
        </div>
        <div id="app-info">
            <h1 id="app-name">QuestStore</h1>
            <p>by CodeRampart</p>
        </div>
        <div id="logged-user">
            <h2 id="user-name">{{ firstName }} {{ lastName }}</h2>
            <p>{{ userType }}</p>
            <p><a id="logout" href="/logout">logout</a></p>
        </div>
    </header>
</div>
